/* Reset CSS */
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}


/* Base-css */

html {
  box-sizing: border-box;
}

:root {
  --whitecolor: #fff;
  --blackcolor: #000;
}

#chart {
  height: 445px;
}

/* login-section  */
.login-section {
  background: url('/public/background.jpg') top center / cover no-repeat;
  max-width: 3200px;
}

.forgot-section {
  background: url('/public/background.jpg') top center / cover no-repeat;
  max-width: 3200px;
}

.signup-section {
  background: url('/public/background.jpg') top center / cover no-repeat;
}

.logo-img {
  position: fixed;
  top: 5%;
  left: 3%;
  width: 180px;
}



/* nav-section */


.nav-img-container {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  background-color: transparent;
}


.nav-header-img {
  margin: 0 auto;
}

.nav-title {
  color: gray;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.5px;
}



.ref-container {
  text-align: center;
  color: #3a52a3;
  margin-top: 28px;
}

.ref-title {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1px;
}

.ref-code {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
}

.line {
  background-color: #3a52a3;
  display: block;
  height: 6px;
  width: 86px;
  margin: 15px auto;
}

.ref-footer {
  font-weight: 600;
}


/* dashboard-section */

.balance-section {
  background-color: #495aff;
  color: var(--whitecolor);
}

.balance-section>div {
  background-color: var(--whitecolor);
  height: 80px;
  width: 80px;
  background-image: none;
}

.balance-section>div>svg {
  height: 40px;
  width: 40px;
  color: #495aff;
}

.deposit-section {
  background-color: #fb6d3f;
  color: var(--whitecolor);

}

.deposit-section>div {
  background-color: var(--whitecolor);
  height: 80px;
  width: 80px;
  background-image: none;

}

.deposit-section>div>svg {
  height: 40px;
  width: 40px;
  rotate: 270deg;
  color: #fb6d3f;
}


.commission-section {
  background-color: #ff3273;
  color: var(--whitecolor);

}

.total-commission {
  background-color: #dcee40 !important;
  color: var(--whitecolor);

}

.commission-section>div {
  background-color: var(--whitecolor);
  height: 80px;
  width: 80px;
  background-image: none;

}

.commission-section>div>svg {
  height: 40px;
  width: 40px;
  color: #ff3273;
}

.withdraw-section {
  background-color: #5dc95a;
  color: var(--whitecolor);
}

.withdraw-section>div {
  background-color: var(--whitecolor);
  height: 80px;
  width: 80px;
  background-image: none;

}

.withdraw-section>div>svg {
  height: 40px;
  width: 40px;
  color: #5dc95a;
}

.assets-section {
  height: 100%;
}

/*exness  */

.exness-title {
  text-align: left;
  flex-grow: 6;
}




.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5);
}

.card .banner {
  background-image: url("/public/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 11rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}

.profile-img {
  width: 8rem;
  height: 8rem;
  z-index: 111;
  position: relative;

}

.profile-img img {
  background-color: #fff;
  width: 100%;
  height: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translateY(50%);
  display: block;

}

.avatar-btn {
  padding: 0;
  color: transparent;
  background-color: transparent;
}

.avatar-btn:hover {
  background-color: transparent;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(50%);
  border-radius: 50%;

}

.profile-img:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



.card .menu {
  width: 100%;
  height: 5.5rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
}

.card .menu .opener {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  border-radius: 50%;
  transition: background-color 100ms ease-in-out;
}

.card .menu .opener:hover {
  background-color: #f2f2f2;
}

.card .menu .opener span {
  background-color: #404040;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 0;
  left: calc(50% - 0.2rem);
  border-radius: 50%;
}

.card .menu .opener span:nth-child(1) {
  top: 0.45rem;
}

.card .menu .opener span:nth-child(2) {
  top: 1.05rem;
}

.card .menu .opener span:nth-child(3) {
  top: 1.65rem;
}

.card h2.name {
  text-align: center;
  padding: 0 2rem 0.5rem;
  margin: 0;
}

.card .title {
  color: #a0a0a0;
  font-size: 0.85rem;
  text-align: center;
  padding: 0 2rem 1.2rem;
}

.card .actions {
  padding: 0 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  order: 99;
}

.card .actions .follow-info {
  padding: 0 0 1rem;
  display: flex;
}

.card .actions .follow-info h2 {
  text-align: center;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}

.card .actions .follow-info h2 a {
  text-decoration: none;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in-out;
}

.card .actions .follow-info h2 a span {
  color: #1c9eff;
  font-weight: bold;
  transform-origin: bottom;
  transform: scaleY(1.3);
  transition: color 100ms ease-in-out;
}

.card .actions .follow-info h2 a small {
  color: #afafaf;
  font-size: 0.85rem;
  font-weight: normal;
}

.card .actions .follow-info h2 a:hover {
  background-color: #f2f2f2;
}

.card .actions .follow-info h2 a:hover span {
  color: #007ad6;
}

.card .actions .follow-btn button {
  color: inherit;
  font: inherit;
  font-weight: bold;
  background-color: #ffd01a;
  width: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  box-sizing: border-box;
  border-radius: 1.5rem/50%;
  transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.card .actions .follow-btn button:hover {
  background-color: #efb10a;
  transform: scale(1.1);
}

.card .actions .follow-btn button:active {
  background-color: #e8a200;
  transform: scale(1);
}

.card .desc {
  text-align: justify;
  padding: 0 2rem 2.5rem;
  order: 100;
}

.profile-title {
  padding-top: 30px;
  font-size: 28px;
  border-top: 3px solid #ccc;
}


/* withdraw */

#withdraw-btn {
  margin-top: 30px;
  padding: 0;
}


/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;

}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.card__wrapper {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 10px #ccc;
}


.card__header {
  margin: 0 8px;
  padding-top: 8px;
}

.card__header-wrapper {
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fe80a6;
  padding-top: -5px;
  border-radius: 10px;
  color: white;
}


.card__header-icon {
  margin-left: 8px;
}

.card__header-btn {
  margin-right: 14px;
}

.card__header-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.card__body {
  margin: 0 10px;
  margin: 8px 18px 26px 18px;
}

.card__footer {
  margin: 0 18px;
  padding-bottom: 16px;
}


span.search-section {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

input.search-input {
  border: 1px solid #ccc;
  background-color: white;
  height: 48px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  box-shadow: 1px 1px 1px #ccc;
}


.day-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 4px;
  background-color: #1edeff;
}

.btn-wrap {
  margin: 10px 0;
}

.deposit-background {
  background-color: #b4ff00;
}
.withdraw-background {
  background-color: #b4ff00;
}
.commission-background {
  background-color: #1edeff;
}

.deposit-icon {
  color: black;
}



.withdraw-icon {
  color: black;
}



.totalCommission-background {
  background-color: #c787f7;
}

.auth-form {
    max-width: 460px;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    color: black;
}


